/*--------------------------------------------------------------
    # Responsive 
--------------------------------------------------------------*/


@media only screen and (max-width: 1280px){
 section{
    padding: 95px 6%;
 }
 .card-title h4{
     font-size: 20px;
 }
 .form-text h1{
    font-size: 32px;
}
.form-text .input-form{
    max-width: 70%;
margin-left: 6rem;
}
.faq-answer h4 {
    font-size: 23px;
}
}
@media only screen and (min-width: 992px) and (max-width: 1280px){
    .nav-link {
        margin-right: -1px;
        margin-left: 0;
        font-size: 14px;
    }
    .navbar-social-links a{
        padding: 4px;
    }
    .text h1{
        font-size: 36px;
    }
    .text p{
        font-size: 14px;
    }
    .card-title h4 {
        font-size: 18px;
    }
    .problem-sections-text p {
        font-size: 15px;
    }
}
@media only screen and (max-width: 991px){
    .navbar-social-links{
        margin-top: 1rem;
        margin-bottom: 2rem;
        }
    .navbar-button{
        display: none;
    }
    .text h1 {
        font-size: 36px;
        text-transform: none;
    }
    .hero-img{
        max-width: 500px;
    }
    .card-title h4 {
        font-size: 18px;
    }
    .card-text span {
        font-size: 16px;
        line-height: 18px;
    }
    span, p, .problem-sections-text p {
        font-size: 16px;
    }
    .faq-bottom-text {
        min-height: 210px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #2A1894;
    }
    .footer-copyright{
        text-align: center !important;
    }
    .footer-social-links {
        margin-top: 1rem;
        margin-bottom: 0rem;
        text-align: center;
    }
}
@media only screen and (min-width:480px) and (max-width: 767px) {
    
    .section {
        padding: 40px 4%;
  }
  .hero .row{
      margin-top: 0 !important;
  }

  .services h2{
      font-size: 31px;
  }
  .card{
      margin-bottom: 2rem;
  }
  .footer-wrapper{
      margin-top: 45px;
      margin-bottom: 0;

  }
  .footer-social-links{
      text-align: center;
  }
  .ceo-img{
      text-align: left !important;
  }

  .ps-timeline-sec .container ol.ps-timeline {
    margin: 130px 0 !important;
    border-left: 2px solid  #06F8FF;
    padding-left: 0 !important;
    padding-top: 120px !important;
    border-top: 0 !important;
    margin-left: 25px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li {
    height: 220px;
    float: none !important;
    width: inherit !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child {
    margin: 0;
    bottom: 0 !important;
    height: 120px;
  }
  .ps-timeline-sec .container ol.ps-timeline li span {
    left: 0 !important;
    margin-left: -42px;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
    content: none !important;
  }

  .ps-timeline-sec .container ol.ps-timeline li p {
    text-align: left !important;
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: 0px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .ps-bot {
    width: 85% !important;
    float: right !important;
    right: 0;
    top: -40px;
    margin-top: 26px;
  }

  .form-text h1 {
    font-size: 22px;
}
.form-text .input-form {
    max-width: 100%;
    margin-left: 0;
}
.navbar-social-links {
    margin-top: 1rem;
    margin-bottom: 0rem;
    text-align: center;
}
}

  @media only screen and (max-width: 479px){
    
    .hero-img {
        max-width: 420px;
    }
    .text h1 {
        font-size: 33px;
    }
    .form-text h1 {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 25px;
    }
    .form-text .input-form {
        max-width: 100%;
        margin-left: 0rem;
    }
    .navbar-social-links {
        margin-top: 1rem;
        margin-bottom: 0rem;
        text-align: center;
    }
  }