/**
* Template Name: CryptoNight
* Template URL: 
* Author: codember.com
* License: https://codember.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
  background-color: #291898;
  margin: 0;
  padding: 0;
}

section{
  padding-top: 120px;
  padding-bottom: 120px;
}
.container{
  width: 100%;
max-width: 1400px;
}
.hero, .features, .product, .message, .faq-section{
}

.services, .customer-engagement, .how-it-work,.message, .faq-section{
  background: #FFFFFF;
}
  a {
    color: #000000;
}
  
  a:hover {
    text-decoration: none;
  }
 
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo', sans-serif;
    font-style: italic;
    color: #06F8FF;
    text-transform: uppercase;
    font-weight: 800;
  }
  span, p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    letter-spacing: .7px;
  
    }
  .hero{
    background: linear-gradient(145deg, rgba(41,24,152,1) 0%, rgba(42,24,148,1) 25%, rgba(43,15,88,1) 75%, rgba(44,13,73,1) 100%);
    padding-bottom: 73px;

  }
 
  .navbar{
    color: #ffffff;
    padding: 15px 103px 15px 88px;
    background: #2A1894 !important;
    opacity: .9;
    box-shadow: 0 0 0 rgba(6,248,255,.14), 0 5px 9px rgba(6,248,255,.28)
    ;      }
    .navbar-brand{
      color: #fff!important;
      font-size: 30px;
      font-weight: 500 !important;
    }
    .navbar-social-links i{
      margin-left: 5px;
      color: aqua;
    }
    .navbar-social-links a{
      margin-right: 3px;
      margin-left: 3px;
      padding: 7px;
      border-radius: 50%;
      border: 1px solid #06F8FF;
      transition: all 300ms ease;
  }
.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #fff!important;
  font-size: 16px;
  text-decoration: none;
}

.nav-link:hover {
  color: #00ebff !important;
}

.btn-primary{
    background: #06F8FF;
    color: #0B3FA5 ;
    margin-top: 24px;
    border: 1PX solid#73e7fc;
    border-radius: 1px;
    transition: all 350ms ease;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }

  .btn-primary:hover{
    color: #ffffff;
    background:  #06F8FF;
  }
  .btn-primary:focus{
    color: #ffffff;

    background:  #06F8FF !important;

  }
  .input-group, .btn-primary a{
    color: #0B3FA5 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  .btn-primary a:hover{
    color: #0B3FA5  !important;
  }
  .btn-primary a:focus{
    color: #ffffff!important;
  }
  .input-group{
    max-width: 400px;
    border: 1px solid #00ebff;
  }
  .form-control{
    border: 0;
    border-radius: 0;
    background-color: #ffffff;
    }
  .input-group input[type=text]:focus{
    background: #ffffff;
  }
  .form-control::placeholder {
    color: #0B062B;
    opacity: .5;
  }
  .input-group-text{
    background: #00ebff;
    color: #160c58;
    border: 0;
    border-radius: 0;
  }
  .text h1{
    font-size: 40px;
    text-transform: none;
  }
  .text p{
    font-family: 'Roboto', sans-serif;
    max-width: 550px;
    margin-top: 30px;
    margin-bottom: 2rem;
  }

 .how-it-work, .product, .form,  .page-footer{
    background: #2A1894;
  }

  .services h2{
    margin-top: 20px;
    font-size: 40px;
    line-height: 36px;
    font-weight: 600;
    color: #2A1894;
    text-transform: none;

  }
  .card {
    position: static;
    width: auto;
    padding: 36px;
    border: 1px solid #b5b9fd;
    border-radius: 1px;
    background: linear-gradient(145deg, rgba(41,24,152,1) 0%, rgba(42,24,148,1) 25%, rgba(43,15,88,1) 75%, rgba(44,13,73,1) 100%);
   
}
.card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
.card span{
  color: #ffffff;
}
.card-title h4{
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #ffffff;
}

.card a{
  color: #00ebff;
  font-size: 18px;
}
.card img{
  height: 100px;
}
   /*--------------------------------------------------------------
    # Floating css 
--------------------------------------------------------------*/
.floating {   
  animation-name: floating; 
  animation-duration: 3s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out; 
  margin-left: 30px; 
  margin-top: 5px; 
} 

@keyframes floating { 
  0% { transform: translate(0,  0px); } 
  50%  { transform: translate(0, 15px); } 
  100%   { transform: translate(0, -0px); }     
} 

.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

/*--------------------------------------------------------------
    # Feature 
--------------------------------------------------------------*/

.features,.problem, .page-footer{
  background: url(../img/Group\ 2333.png);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 65px;}

/*--------------------------------------------------------------
    # How it works 
--------------------------------------------------------------*/

.ps-timeline-sec .container ol.ps-timeline {
  margin: 98px 0;
  padding: 0;
  border-top: 2px solid #06F8FF;
  list-style: none;
}
.ps-timeline-sec .container ol.ps-timeline li {
  float: left;
  width: 25%;
  padding-top: 30px;
  position: relative;
}
.ps-timeline-sec .container ol.ps-timeline li span {
  width: 80px;
  height: 80px;
  margin-left: -50px;
  background: #2A1894;
  font-family: 'Exo', sans-serif;
  border: 1px solid #06F8FF;
  border-radius: 50%;
  box-shadow: 0 0 0 0px #fff;
  text-align: center;
  line-height: 85px;
  color: #06F8FF;
  font-size: 44px;
  font-style: italic;
  position: absolute;
  top: -44px;
  left: 50%;
}


.ps-timeline-sec .container ol.ps-timeline li p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-family: 'Roboto', sans-serif;

}
.ps-timeline-sec .container ol.ps-timeline li .ps-bot {
  position: absolute;
  margin-top: 35px;
}
/*--------------------------------------------------------------
    # Problem section
--------------------------------------------------------------*/
.problem{
  padding-top: 50px;
}
.problem .text h2{
  font-size: 25px;
  font-weight: 300;

}
.problem .text i{
  margin-right: 12px;
  color: #00ebff;
}
.problem .btn-secondary{
  border-radius: 0;
  background-color: #4039ee57;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Hind Guntur', sans-serif;
  border: 0;
}

.problem-sections-text p{
  font-size: 16px;
}
.problem-sections-text h3{
font-size: 20px;
line-height: 30px;
font-weight: 600;
text-transform: none;

}


/*--------------------------------------------------------------
    # Message
--------------------------------------------------------------*/
.message p{
  color: #0B062B;
}
.message h2{
  color: #2A1894;
}
.message .ceo-img img{
overflow: hidden;
max-height: 600px;
border: 1px solid rgba(0, 235, 255, 0.7);
border-radius: 2px 100px;
}
/*--------------------------------------------------------------
    # Form Section
--------------------------------------------------------------*/
.form{
  background: url(../img/Mask\ Group\ 5.png);
background-position: 50% 50%;
background-size: cover;
}
.form-text h1{
margin-top: 20px;
margin-bottom: 14px;
line-height: 56px;
font-weight: 300;
font-size: 38px;
text-transform: inherit;

}

.form-text .input-form{
  border: 1px solid #00ebff;
  max-width: 50%;
  margin-left: 16rem;

}

/*--------------------------------------------------------------
    # FAQ Section
--------------------------------------------------------------*/
.faq{
min-height: 210px;
margin-bottom: 20px;
padding-bottom: 20px;
border-bottom: 1px solid #2A1894;
}
.faq .faq-bottom-text{
  min-height: 210px;
border-bottom-style: none;
}
.faq-section h2{
  color: #2A1894;

}
.faq-answer h4{
  color: #0B062B;
margin-top: 10px;
margin-bottom: 10px;
font-size: 25px;
line-height: 24px;
text-transform: none;
}
.faq-answer p, span{
  color: #0B062B;
}
.faq-answer .check-mark{
  color: #2A1894;
}

.faq-answer ul li{
  font-family: 'Hind Guntur', sans-serif;
  font-size: 14px;

}

/*--------------------------------------------------------------
    # Footer
--------------------------------------------------------------*/
.page-footer{
  padding-top: 51px;
  padding-bottom: 0;
}
.page-footer ul li{
  margin-bottom: 12px;

}
.page-footer a{
  color: #fff;

}

.page-footer a:hover{
  color: #00ebff;
}
.page-footer .upper-footer h4{
  text-transform: none;
  font-weight: 400;
}
.page-footer .upper-footer{
  padding-bottom: 51px;
  border-bottom: 1px solid rgba(66, 232, 224, 0.1);

}
.copyright{
}
.copyright .footer-copyright a{
  font-size: 14px;
}

.footer-social-links i{
  margin-left: 5px;
  color: aqua;
}
.footer-social-links a{
  margin-right: 3px;
  margin-left: 3px;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid #06F8FF;
  transition: all 300ms ease;
}
